<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>钓鱼佬</title>
    <!-- 添加 Bootstrap 样式链接 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% block content %}
    <div class="jumbotron text-center">
        <!-- 添加 .container 类 -->
        <div class="container">
            <h1 style="color: #00704A;">🎣总之就是非常喜欢钓鱼✨</h1>
            <p style="font-size: 18px;">寻找一次宁静的逃离？一起来享受钓鱼的乐趣吧！我们邀请您参加一次难忘的钓鱼之旅，远离城市的喧嚣，融入大自然的怀抱。</p>
        </div>
    </div>
{% endblock content %}
</body>
</html>
